language: android
jdk:
- oraclejdk8
sudo: required
dist: trusty
env:
  global:
  - BRANCH_NAME=master
#  - ANDROID_API=21
#  - EMULATOR_API=28
  - ANDROID_BUILD_TOOLS=28.0.3
#  - ADB_INSTALL_TIMEOUT=5
   # - HOME=/Users/sujataswamy/Downloads
android:
  components:
  - tools
  - platform-tools
 # - build-tools-28.0.3
  - android-21
  - android-24
  - android-28
  - build-tools-$ANDROID_BUILD_TOOLS
#  - android-$ANDROID_API
#  - android-$EMULATOR_API_LEVEL
  - extra-android-m2repository
  - extra-google-m2repository
  - extra-google-google_play_services
 # - addon-google_apis-google-19
 # - sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API_LEVEL
  #- sys-img-armeabi-v7a-addon-google_apis-google-$EMULATOR_API_LEVEL

 #licenses:
  #    - android-sdk-preview-license-.+
   #   - android-sdk-license-.+
    #  - google-gdk-license-.+

before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- openssl aes-256-cbc -K $encrypted_783d9be09488_key -iv $encrypted_783d9be09488_iv
  -in travis-ci-demo-4efee-0e9f1d0f0fd2.json.enc -out travis-ci-demo-4efee-0e9f1d0f0fd2.json
  -d
- echo y | sdkmanager "ndk-bundle"
- yes | sdkmanager "platforms;android-28"
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - chmod +x gradlew
  - ./gradlew dependencies || true

before_script:

    - env
    - android list sdk --extended --no-ui --all
    - echo "y" | android update sdk -a --no-ui --filter sys-img-armeabi-v7a-android-21,sys-img-x86_64-android-21
    - android list targets
    - echo no | android create avd --force -n test -t android-21 --abi default/armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &
    # gcloud
    - gcloud version || true
    - if [ ! -d "/Users/sujataswamy/Downloads/google-cloud-sdk/bin" ]; then rm -rf /Users/sujataswamy/Downloads/google-cloud-sdk; export $CLOUDSDK_CORE_DISABLE_PROMPTS; curl https://sdk.cloud.google.com | bash; fi
    # Add gcloud to $PATH
    - source /Users/sujataswamy/Downloads/google-cloud-sdk/path.bash.inc
    - gcloud version
    # Add gcloud auth
    - gcloud auth activate-service-account traviscidemo@travis-ci-demo-4efee.iam.gserviceaccount.com --key-file=travis-ci-demo-4efee-0e9f1d0f0fd2.json --project=travis-ci-demo-4efee

script:
    - ./gradlew clean build connectedCheck -PdisablePreDex --stacktrace
    - ./gradlew build assembleDebug
    - gcloud components update
    - gcloud firebase test android run --app app/build/outputs/apk/debug/app-debug.apk --type=robo --device model=Nexus4,version=19


